.main-content {
    width: 100%;
    padding: 100px;
    background-color: white;
  }
  .full-width-image {
    width: 100%; /* Make the image cover the full width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any inline spacing */
    margin-top: 40px;
  }
  
  .content-wrapper {
    display: flex; /* Flex layout for Article and Sidebar */
    margin-top: 20px; /* Adjust spacing below the image */
  }

.article{
  flex:2;
  margin-right: 20px;
}
.sidebar{
  flex: 1;
}